
/* You can add global styles to this file, and also import other style files */
@import '@mescius/wijmo.styles/themes/material/wijmo.theme.material.blue-indigo.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Roboto, system-ui, -apple-system, sans-serif;
}
